<div id="headeriai"><h1 align="center">Visi straipsniai</h1></div>

 <% @articles.each do |article| %>
  <div class="row"> col-xs-offset-
    <div class="col-xs-">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>

        <div class="article-body">
          <%= truncate(article.description, length: 100) %>
        </div>
        <div class="article-actions">
          <%= link_to "Redaguoti", edit_article_path(article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Ištrinti", article_path(article), method: :delete, data: {confirm: "Ar tikrai norite ištrinti?"}, class: "btn btn-xs btn-danger" %>
        </div>

      </div>
    </div>
  </div>

  <% end %>
